*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #dcdbd8;
}
.bgnav{
    background-color: #0A0708;
}

.bio-img-sec{
    height: 400px;
    width: 350px;
}
.logo-sec{
    border: 2px solid #444444;
    height: 60px;
}
.patua-one-regular {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
}
.header-sec{
    font-family: "Patua One", serif;
    font-size: 35px;
}
.header-sec{
    margin-right: 100x;
}
.name-modfy{
    color: #52584d;
}
/* From Uiverse.io by Voxybuns */ 
button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.55em 1.0em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}
.para-sec{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 400px;
}


.skills-sec {
    background-color: #b5b3a8;
    border-top: #504B38 solid 2px;
    border-bottom: #504B38 solid 5px;
    border-radius: 10px;
    margin-top: 130px;
}
.skills-headn-sec{
    color: #1d1b14;
    font-family: "Patua One", serif;

}
.skills-cont {
    background-color: #76786e;
    width: 180px;
    border-radius: 10px;
    border-left: #504B38 solid 3px;
}
.skills-img-sec1{
    height: 85px;
}

.skills-img-sec {
    height: 100px;
    width: 100px;
}

.skills-descpt {
    font-size: 16px;
    font-weight: bold;
    color: white;
    font-family: cursive;
}
.btn-sec-skills{
    background-color: #ededed;
    border: 2px solid  #504B38;
    border-bottom: 4px solid #504B38;
    border-radius: 10px;
}
.fa-code{
    color: white;
}
.fa-code-merge{
      color: white;
  
}
.fa-user{
    color: white;
}
.fa-spinner{
    color: white;
}
.butn-sec-proj{
    border: #504B38 solid 2px;
    border-radius: 8px;
    border-bottom: #504B38 solid 4px;
    color: #1d1b14;
    height: 40px;
    width: 100px;
    background-color: #ededed;
}
.butn-sec-proj:hover{
    background-color: #b5b3a8;
    color: #1d1b14;
  transform: translatex(-0.2em);
  transition: transform 0.1s ease;
}